
/* BASE */
:root {
    --black-purple: #2E2D31;
    --darkest-purple: #220B5E;
    --dark-purple: #3B1D98;
    --purple: #513779;
    --light-purple: #7654B4;
    --lightest-purple: #967ECB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.box-image {
    width: 70%;
}

/* COLOR UTILITY CLASSES */

.bg-black-purple {
    background-color: var(--black-purple);
}

.bg-darkest-purple {
    background-color: var(--darkest-purple);
}

.bg-dark-purple {
    background-color: var(--dark-purple);
}

.bg-purple {
    background-color: var(--purple);
}

.bg-light-purple {
    background-color: var(--light-purple);
}

.bg-lightest-purple {
    background-color: var(--lightest-purple);
}

.text-light {
    color: white;
}

/* .header {
    display: flex;
    flex-direction: row;
}

.right-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.header-box {
    flex: 1;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* Grid example */
.header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
}

.header-box {
    aspect-ratio: 1;
    grid-column: auto / span 1;
    display: grid;
    place-content: center;
}

.header-box-large {
    grid-column: auto / span 2;
    grid-row: auto / span 2;

    cursor: pointer;
}


/* .header-box-2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.header-box-3 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.header-box-4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.header-box-5 {
    grid-column:4 / 5;
    grid-row: 2 / 3;
} */